# Node.js local development docker-compose file
services:
  # https://hub.docker.com/_/mongo
  mongo:
    container_name: ${DIR}_mongo_dev
    image: mongo:${MONGO_VER}
    volumes:
      - mongo_dev_data:/data/db
    tmpfs:
      - /data/configdb
    env_file:
      - .env
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - ${MONGO_PORT}:27017
    expose:
      - ${MONGO_PORT}
volumes:
  mongo_dev_data: {}
